<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewCategoryServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ViewCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ViewProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ViewCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.AddItemToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveItemFromCartServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.RemoveItemFromCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.UpdateCartQuantitiesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewItemServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ViewItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.SearchProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignonFormServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.SignonFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewAccountFormServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.NewAccountFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignVerificationServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.SignVerificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuitLoginServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.QuitLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProceedToCheckoutServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ProceedToCheckoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditAccountFormServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.EditAccountFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveAccountInformationServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.SaveAccountInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShipOrConfirmOrderServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ShipOrConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmedOrderServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ConfirmedOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListOrdersServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.ListOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsernameIsExistServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.UsernameIsExistServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SamePasswordServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.SamePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <servlet-class>myJpetStore.web.servlets.AutoCompleteServlet</servlet-class>
  </servlet>
  
  
  
  
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCategoryServlet</servlet-name>
    <url-pattern>/viewCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/viewProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewItemServlet</servlet-name>
    <url-pattern>/viewItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <url-pattern>/addItemToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveItemFromCartServlet</servlet-name>
    <url-pattern>/removeItemFromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
    <url-pattern>/updateCartQuantities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignonFormServlet</servlet-name>
    <url-pattern>/signonForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAccountFormServlet</servlet-name>
    <url-pattern>/newAccountForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignVerificationServlet</servlet-name>
    <url-pattern>/signVerification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitLoginServlet</servlet-name>
    <url-pattern>/quitLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProceedToCheckoutServlet</servlet-name>
    <url-pattern>/proceedToCheckout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAccountFormServlet</servlet-name>
    <url-pattern>/editAccountForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveAccountInformationServlet</servlet-name>
    <url-pattern>/saveAccountInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShipOrConfirmOrderServlet</servlet-name>
    <url-pattern>/shipOrConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/confirmOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmedOrderServlet</servlet-name>
    <url-pattern>/confirmedOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListOrdersServlet</servlet-name>
    <url-pattern>/listOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/newAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsernameIsExistServlet</servlet-name>
    <url-pattern>/usernameIsExist</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SamePasswordServlet</servlet-name>
    <url-pattern>/samePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <url-pattern>/autoComplete</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>